@{
    ViewData["Title"] = "IconList";
    Layout = "~/Views/Shared/_Layout.cshtml"; ;
}

@model IEnumerable<Icon>

<h1 class="mb-4">Список иконок</h1>

<div class="row">
    @foreach (var icon in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm">
                <img src="@icon.Img" class="card-img-top" alt="@icon.Name" style="height: 200px; object-fit: contain;">
                <div class="card-body">
                    <h5 class="card-title">@icon.Name</h5>
                    <p class="card-text text-muted">Категория: @icon.Topic</p>
                    <a href="@Url.Action("DownloadIcon", "Icon", new { id = icon.Id })" class="btn btn-primary">Скачать</a>
                </div>
            </div>
        </div>
    }
</div>
