@using FrontendHelper.Services
@model IEnumerable<IconGroupViewModel>
@inject AuthService authService

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Иконки";
}

<div class="container-fluid">
    <div class="row g-4">

         @if(authService.IsAdmin())
         {
            <div class="col-2 text-center mb-3">
                <a asp-action="AddIcon" class="card h-100 shadow-sm d-flex flex-column
                                justify-content-center align-items-center
                                text-decoration-none text-dark">
                    <div class="bi bi-plus fs-1 mb-2"></div>
                    <div class="small">Добавить</div>
                </a>
            </div>
         }




        @foreach (var group in Model)
        {
            <div class="col-12">
                <div class="card mb-4 shadow-sm">

                    <div class="card-header bg-white">
                        <h5 class="mb-0">@group.Topic</h5>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            @foreach (var icon in group.Icons)
                            {
                                <div class="col-2 text-center mb-3">
                                    <img src="@Url.Content($"~/images/icons/{icon.Img}")"
                                         class="img-fluid"
                                         alt="@icon.Name"
                                         title="@icon.Name" />
                                    <div class="small mt-1">@icon.Name</div>
                                </div>
                            }
                        </div>
                        <div class="text-end">
                            <a asp-action="ShowAllIconsOnTheTopic"
                               asp-route-topic="@group.Topic"
                               class="btn btn-link p-0">
                                Показать все →
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        }
    </div>
</div>


