@model IEnumerable<AnimatedElementViewModel>


<div class="container-fluid">
    <h2 class="mb-4">@ViewData["Title"]</h2> @* исправитььь *@
    <div class="row">
        @foreach (var elem in Model)
        {
            <div class="col-2 text-center mb-4">
                <div class="anim-wrapper position-relative" data-url="@Url.Content($"~/images/animated-elements/{elem.Img}")" style="cursor:pointer;">
                    <img src="@Url.Content($"~/images/animated-elements/{elem.Img}")"
                         class="img-fluid"
                         alt="@elem.Name"/>
                </div>

                <div class="small mt-2">@elem.Name</div>

                <a href="@Url.Content($"~/images/animated-elements/{elem.Img}")"
                   download="@elem.Img"
                   class="btn btn-sm btn-outline-secondary mt-2">
                    Скачать
                </a>
            </div>
        }
    </div>

    <div class="mt-3">
        <a asp-action="ShowGroupsOfAnimatedElementsOnTheTopic" class="btn btn-secondary">
            ← Назад ко всем темам
        </a>
    </div>
</div>

